<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Trym Løkkeberg</title>
</head>
<body>
    <header>
        <nav>
            <div class="profile" id="header">
                <img src="/imgs/profilepic.jpeg" alt="Profile Picture">
                <a href="/#header">Trym Løkkeberg</a>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="/#about-me">About Me</a>
                    </li>
                    <li>
                        <a href="/#projects">My Projects</a>
                    </li>
                    <li>
                        <a href="/#experience">Experience</a>
                    </li>
                    <li>
                        <div class="contact-button">
                            <a href="/#footer">Contact Me</a>
                        </div>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-compartment">
        <h3>Hi, my name is</h3>
        <h1>Trym Løkkeberg</h1>
        <div class="typewriter">
            <h3>I am a <span id="dynamictext"></span></h3>
        </div>
    </div>

    <div class="about-me-wrapper" id="about-me">
        <div class="about-me">
            <div class="about-title">
                <h4>About Me</h4>
            </div>
            <p>I am 22 years old, and I come from Norway. I am currently pursuing a bachelor's degree in Computer Science at Dartmouth College. I have always had a passion for technology and programming, and has always loved experimenting with coding. When I was younger
                I developed several simple video games, and in more recent times I have experimented with full-stack development, AI and machine learning, and iOS apps. I am very interested in the current technology trends, and right now I am very excited to see the evolution
                of Apple's Vision Pro, and AR/VR in general, as well as the recent surge in artificial intelligence applications.</p>
            
            <p>
                I am also a part of Dartmouth's varsity ice hockey team. I have played hockey since I was four years old, and it has been a huge part of my life. I love how I can be part of a team and work together with my teammates towards a common goal. I have been named captain of multiple
                hockey teams throughout the years, and also had the honor to represent the Norwegian junior national team in a world championship.</p>
            </p>
            </p>
        </div>
    </div>

    <div class="projects-wrapper" id="projects">
        <div class="projects">
            <h2>Projects</h2>

            <h6>Due to Dartmouth's Academic Honor Principle, I am not allowed to have public access to school project repositories on my GitHub. If you want to see the code for a specific project, please contact me and I will give you access to the private repository.</h6>

            <div class="cards">
                <div class="popup" id="popup1">
                    <div class="overlay"></div>
                    <div class="content">
                        <div class="close-btn" onclick="togglePopup()">&times;</div>
                        <h4>Request Access</h4>
                        <p>Due to Dartmouth's Honor Principle, this repository is private. If you want access, please contact me and I will give you access to the repository.</p>
                        <a href="mailto:trym.loekkeberg.25@dartmouth.edu">Request Access</a>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card">
                        <img src="/imgs/chess.svg" alt="Chess">
                        <h4>Chess AI</h4>
                        <p>Using Alpha-Beta pruning and the MiniMax algorithm, I created a simple AI opponent for chess games.</p>
                        <button id="card-btn" onclick="togglePopup()">See more</button>
                    </div>
                    <div class="card">
                        <img src="/imgs/sudoku.svg" alt="Sudoku">
                        <h4>Sudoku Solver</h4>
                        <p>Created a sudoku solver using the WalkSAT algorithm, that can solve sudoku puzzles given CNF input files.</p>
                        <button id="card-btn" onclick="togglePopup()">See more</button>
                    </div>
                    <div class="card">
                        <img src="/imgs/search.svg" alt="SearchEngine">
                        <h4>Search Engine</h4>
                        <p>Created a simple search engine by constructing three essential parts of a search engine: a crawler, an indexer, and a querier.</p>
                        <button id="card-btn" onclick="togglePopup()">See more</button>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card">
                        <img src="/imgs/console.svg" alt="Gaming">
                        <h4>Online Game</h4>
                        <p>Collaborated with other programmers and made an online game where people compete to gather gold in a maze.</p>
                        <button id="card-btn" onclick="togglePopup()">See more</button>
                    </div>
                    <div class="card">
                        <img src="/imgs/dictionary.png" alt="Dictionary">
                        <h4>PoS Tagger</h4>
                        <p>Code that can predict the part of speech for words in sentences using Viterbi algorithm and Hidden Markov Model.</p>
                        <button id="card-btn" onclick="togglePopup()">See more</button>
                    </div>
                    <div class="card">
                        <img src="/imgs/table-tennis.svg" alt="Table Tennis">
                        <h4>Pong Game</h4>
                        <p>Created a game in Unity and C# inspired by "Dartmouth pong".</p>
                        <a href="https://github.com/Lokkis22/Pong.git">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-wrapper" id="experience">
        <div class="experiences">
            <h2>Previous Work Experience</h2>
            
            <div class="experience-cards">
                <div class="cisco">
                    <img src="/imgs/cisco.svg.png" alt="Cisco">
                    <h5>Company: <label for="cisco">Cisco</label></h5>
                    <h5>Position: <label for="cisco">Technical Intern</label></h5>
                    <p>With two other interns I improved one of Cisco's video conferencing products for large meeting rooms such as classrooms and conference venues.
                        This software was launched at the 2023 WebexOne conference in Anaheim.
                    </p>
                    <a href="https://www.linkedin.com/in/trym-loekkeberg-69b955246/">Go to LinkedIn for more information</a>
                </div>
                <div class="stensetting">
                    <img src="/imgs/Stensetting-logo.png" alt="Stensetting">
                    <h5>Company: <label for="stensetting">Stensetting</label></h5>
                    <h5>Position: <label for="stensetting">Software Developer Intern</label></h5>
                    <p>I developed a digital product database containing quantitative and qualitative information about over 200 plants in order to 
                        increase search efficiency among the garden designers at the company.
                    </p>
                    <a href="https://www.linkedin.com/in/trym-loekkeberg-69b955246/">Go to LinkedIn for more information</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h3>Contact Me</h3>
        <div class="footer-wrapper" id="footer">
            <a href="mailto:trym.loekkeberg.25@dartmouth.edu"><img src="/imgs/email.svg" alt="Email"></a>
            <a href="https://www.linkedin.com/in/trym-loekkeberg-69b955246/"><img src="/imgs/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://github.com/Lokkis22"><img src="/imgs/github.svg" alt="GitHub"></a>
        </div>
    </footer>
</body>

<script>
    const dynamicText = document.getElementById("dynamictext");
    const words = ["Computer science student", "Division 1 student-athlete", "Tech nerd"]

    let wordIndex = 0;
    let charIndex = 0;
    let isDeleting = false;

    const typeEffect = () => {
        const currentWord = words[wordIndex];
        const currentChar = currentWord.substring(0, charIndex);
        dynamicText.textContent = currentChar;
        dynamicText.classList.add("stop-blinking");

        if (!isDeleting && charIndex < currentWord.length) {
            charIndex++;
            setTimeout(typeEffect, 120);
        } else if (isDeleting && charIndex > 0) {
            charIndex--;
            setTimeout(typeEffect, 100);
        } else {
            isDeleting = !isDeleting;
            dynamicText.classList.remove("stop-blinking");
            wordIndex = !isDeleting ? (wordIndex + 1) % words.length : wordIndex;
            setTimeout(typeEffect, 1200);
        }
    }

    typeEffect();

    // hamburger
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector("nav ul");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll("nav li").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
    }))

    document.querySelectorAll("nav li").forEach(n => n.addEventListener("click", () => {
        navMenu.classList.remove("active");
    }))

    function togglePopup() {
        document.getElementById("popup1").classList.toggle("active");
        console.log('toggled active');
    }

</script>
</html>