* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3c3c3c;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

header a {
    text-decoration: none;
    color: white;
    transition: 0.7s ease;
}

header a:hover {
    color: #FC6D6D;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    padding: 0 50px 0 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    list-style: none;
}

.links {
    display: flex;
    gap: 30px;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #FC6D6D;
    border-radius: 8px;
}

.contact-button a:hover {
    color: #000000;
}

.profile {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #FFFFFF;
}

.main-compartment {
    display: flex;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    color: white;
}

.main-compartment h1 {
    font-size: 72px;
    margin-bottom: 24px;
}

.main-compartment h3 {
    margin-bottom: 24px;
}

.typewriter h3 {
    font-size: 2rem;
    font-weight: 600;
}

.typewriter span {
    position: relative;
    color: #FC6D6D;
}

.typewriter span::before {
    content: "";
    position: absolute;
    right: -8px;
    top: 50%;
    height: 30px;
    width: 2px;
    background: #FC6D6D;
    transform: translateY(-45%);
    animation: blink 0.7s infinite
}

.typewriter span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.about-me-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 500px; */
    background-color: white;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin-top: 50px;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #FC6D6D;
    border-radius: 99px;
    margin-bottom: 24px;
}

.about-title h4 {
    font-size: 16px;
    font-weight: 400;
}

.about-me p {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.projects h2 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
}

.projects h6 {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    inline-size: 800px;
    text-align: center;
    margin-bottom: 16px;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFFFFF;
    width: 350px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222222;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup h4 {
    margin-top: 30px;
    margin-bottom: 16px;
}

.popup a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background-color: #FC6D6D;
    border-radius: 99px;
    color: #FFFFFF;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    padding: 16px 10px 16px 10px;
    width: 200px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-color: #FC6D6D;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin-bottom: 30px;
}

.cards img {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
}

.cards h4 {
    font-size: 24px;
    margin-bottom: 8px;
}

.cards p {
    font-size: 14px;

}

.card-row a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    border: 2px solid #3c3c3c;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #3c3c3c;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}

#card-btn {
    width: 70px;
    height: 20px;
    border: 2px solid #3c3c3c;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #3c3c3c;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background: none;
}

.experience-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
    height: 800px;
}

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.experience-cards img {
    margin-bottom: 16px;
}

.experience-cards label {
    font-weight: 400;
}

.experience-cards h5 {
    font-size: 16px;
    margin-bottom: 12px;
}

.experience-cards p {
    font-size: 14px;
    line-height: 24px;
    color: #3c3c3c;
}

.experience-cards a {
    position: absolute;
    bottom: 5%;
}

.experience-cards {
    display: flex;
    width: 1000px;
    position: relative;
    margin-top: 50px;
}

.cisco {
    padding: 16px;
    width: 500px;
    height: 300px;
    margin-left: 100px;
    border: 2px solid #FC6D6D;
    border-radius: 10px;
}

.cisco a {
    color: #000000;
}

.stensetting a {
    color: #FC6D6D;
}

.stensetting {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 10%;
    margin-top: 250px;
    width: 500px;
    height: 300px;
    border: 2px solid #3c3c3c;
    border-radius: 10px;
}

.stensetting p {
    text-align: right;
}


/* footer */

footer {
    width: 100%;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #878181;
    background-color: #3c3c3c;
}

.footer-wrapper img {
    width: 24px;
    height: 24px;
}

/* dynamic */
@media screen and (max-width: 800px) {
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    nav li {
        margin: 16px 0;
    }

    nav ul.active {
        left: 0;
    }

    .main-compartment h1 {
        font-size: 50px;
        margin-bottom: 24px;
    }

    .typewriter h3 {
        font-size: 1rem;
    }

    .about-me p {
        padding: 16px;
        font-size: 12px;
        font-weight: 400;
        color: #3c3c3c;
        line-height: 24px;
        text-align: left;
        margin-bottom: 16px;
    }

    .projects h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .projects h6 {
        inline-size: 50%;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: left;
        margin-bottom: 16px;
    }

    .card-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 690px;
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 30px;
    }

    .experience-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #FFFFFF;
        height: 800px;
    }
    
    .experiences {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .experience-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        width: 100%;
        height: 700px;
    }
    
    .cisco {
        position: static;
        margin-left: 0;
        padding: 16px;
        width: 350px;
        height: 300px;
        border: 2px solid #FC6D6D;
        border-radius: 10px;
    }
    
    .stensetting {
        position: static;
        padding: 16px;
        display: flex;
        margin-top: 16px;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        height: 300px;
        border: 2px solid #3c3c3c;
        border-radius: 10px;
    }
    
    .stensetting p {
        text-align: left;
    }

    .experience-cards a {
        display: none;
    }

}